<html>
<body>
  <h1>Annotation Viewer</h1>
  <ul>
    <% docs.each do |doc| %>
      <li>
        <h3><%= doc.filename %></h3>
        <ul>

          <% doc.pages.each do |i, page| %>
            <li>
              <strong><%= i %></strong><br />
              <% page.annotations.each do |a| %>
                <%= a.created_at.strftime("%x") %>
                <blockquote>
                  <% if a.is_a?(Note) %>
                    <%= a.contents %>
                  <% else %>
                    <%= a.text %> (<%= a.contents %>)
                  <% end %>
                </blockquote>
              <% end %>
            </li>
          <% end %>

        </ul>
      </li>
    <% end %>
  </ul>
</body>
</html>
