
<html>
  <head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>

<style>

  body {
    font-family: Helvetica;
    margin:50px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .doc {
    clear: both;
    margin-bottom: 10px;
    float: left;
  }

  .doc .filename {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .page {
    clear: both;
    float: left;
  }

  .page .page-number {
    font-size:1.22em;
    width: 50px;
    text-align: right;
    float: left;
  }

  .page .annotation {
    margin-bottom: 10px;
  }

  .page .annotations {
    margin-left: 50px;
    float: left;
  }

  .page .created-at {
    color: #999;
    font-size: 0.8em;
  }

</style>

<body>
  <script>
    $(document).ready(function() {
      function updateFilter() {
        var filter = $('#filter').val().toLowerCase();
        $('.doc').each(function(ix, el) {
          if (filter === "") {
            $(el).show();
          } else {
            var filename = $(el).find(".filename").text().toLowerCase();
            if (filename.indexOf(filter) != -1) {
              $(el).show();
            } else {
              $(el).hide();
            }
          }
        });
      }
      $('#filter').bind('keypress', function(){
        setTimeout(updateFilter, 1);
      });
      $('#filter').bind('keydown', function(e){
        if (e.keyCode == 8) {
          setTimeout(updateFilter, 1);
        }
      });
    });
  </script>

  <h1>Annotation Viewer</h1>
  <p>For <code><%= target_dir %></code></p>

  <p>
    Filter: 
    <input id="filter"></input>
  </p>

  <ul>
    <% docs.each do |doc| %>
      <li class="doc">
        <div class="filename"><%= doc.filename %></div>
        <ul>
          <% doc.pages.each do |i, page| %>
            <li>

              <div class="page">
                <div class="page-number"><%= i %></div>
                <div class="annotations">
                  <% page.annotations.each do |a| %>
                    <div class="annotation">
                      <div class="content"><%= a.to_html %></div>
                      <div class="created-at"><%= a.created_at.strftime("%x") %></div>
                    </div>
                  <% end %>
                </div>
              </div>

            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

</body>
</html>
